<div class="row page-titles" ng-show="main.isLoggedIn">
  <div class="col-md-5 align-self-center">
      <h1 class="text-themecolor">Welcome {{main.student_name}} !!!</h1>
  </div>
</div>

<div id="home" class="section">
  <img src="img/background.svg" style="position: absolute; top: 0px; right: 0px; height: 120%; z-index: -1;">
  <div class="home-text">
    <span style="font-size: 55px; font-weight: bold;">CareerHunt</span><br>
    <span style="font-size: 22px; font-weight: 300;">Passion is the difference between having a job <br> or having a career.</span><br><br><br>
    <a href="https://preeti240.github.io/Placement-Analyser/" style="display: inline-block;background-color: rgb(20, 45, 84) ;padding: 10px 0px; border-radius: 6px;
    color: white; width: 330px; text-align: center;
    font-size: 22px; font-weight: 300;">Placement Analysis&nbsp;&nbsp;<i class="fas fa-link"></i></a>
    <br><br>
    <!-- <a href="#" style="display: inline-block;background-color: rgb(20, 45, 84) ;padding: 10px 0px; border-radius: 6px;
    color: white; width: 330px; text-align: center;
    font-size: 22px; font-weight: 300;">Placement Invitation&nbsp;&nbsp;<i class="fas fa-download"></i></a> -->
  </div>
  <div class="employees-image" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <img src="assets/img/team.png" style="width:70%;">
  </div>
</div>
<div id="about" class="section">
  <div class="about-text">
    <span style="font-size: 40px; font-weight: bold;">Vishwakarma Institute of Technology</span><br><br>
    <span style="font-size: 22px; font-weight: 300; line-height: 150%;">
      is set up at Pune,
      was established in 1983. VIT Pune is an autonomous institution affiliated to Savitribai Phule Pune University, Pune.
      VIT Pune is run by the Bansilal Ramnath Agarwal Charitable Trust, Pune. TThe institute offers scholarships to meritorious
      and needy students. The college also provides placement opportunities to students. As per the NIRF ranking 2021, VIT Pune has
      been ranked 122 among engineering institutions with an overall score of 36.82. This ranking is based on various parameters such
      as graduation outcomes, teaching, learning, and resources, perception, outreach and inclusivity, research and professional practice.

  </div>
  <div class="about-img">
    <img src="assets/img/infra.jpg">
  </div>
</div>
<div id="infrastructure" class="section">
  <div class="text-div">
      <span style="font-size: 40px; font-weight: bold;">Infrastructure</span><br><br>
      <span style="font-size: 22px; font-weight: 300;">
        The college has approximately 2,900 students, 225 faculty members, 67 laboratories,
        one central library, and 150 administrative and supportive staff.
        The campus is spread over an area of 7 acres (28,000 m2) and consists of four major buildings,
        a cafeteria, a coffee store, a fruit juice stand, a breakfast center, NPB,
        and a fully air-conditioned auditorium with ceiling fans.
        <br><br>

      </span>
  </div>
  <div class="icons-div">
    <a href="https://www.vit.edu/" class="infra-icon">
      <img src="assets/img/building_blue.svg">
      <span>CAMPUS</span>
    </a>
    <a href="https://www.vit.edu/" class="infra-icon">
      <img src="assets/img/bunk.svg">
      <span>HOSTEL</span>
    </a>
    <a href="https://www.vit.edu/" class="infra-icon">
      <img src="assets/img/cooking.svg">
      <span>CANTEEN</span>
    </a>
    <a href="https://www.vit.edu/" class="infra-icon">
      <img src="assets/img/hospital.svg">
      <span>HOSPITAL</span>
    </a>
    <a href="https://www.vit.edu/" class="infra-icon">
      <img src="assets/img/lab.svg">
      <span>LAB</span>
    </a>
    <a href="https://www.vit.edu/" class="infra-icon">
      <img src="assets/img/books.svg">
      <span>LIBRARY</span>
    </a>
  </div>
</div>

<!-- <div id="placement-record" > -->

      <span style="font-size: 40px; font-weight: bold;">Placement Statistics</span><br><br>
      <!-- <div id="placement-synopsis">
        <div id="placement-detail-1">
          <div class="table100 ver5 m-b-110">

            <div class="table100-body js-pscroll">
            <table style="width: 100%;">
              <caption style="font-size: 25px; font-weight: none; text-align: center; background-color: #204584; color: white; padding: 7px; text-transform: uppercase; width: 100%;">Placement Statistics</caption>
              <tbody>
                <tr class="row100 body">
                  <td class="cell100 column1">No. of Students registered</td>
                  <td class="cell100 column2">40</td>
                  <td class="cell100 column3" style="background-color: #008000;"></td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">No. of Job Offers</td>
                  <td class="cell100 column2">44</td>
                  <td class="cell100 column3" style="background-color: #9B59B6;"></td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Highest Package</td>
                  <td class="cell100 column2">16 lpa</td>
                  <td class="cell100 column3"></td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Average Package</td>
                  <td class="cell100 column2">4 lpa</td>
                  <td class="cell100 column3"></td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Students going for Higher Studies</td>
                  <td class="cell100 column2">2</td>
                  <td class="cell100 column3" style="background-color: #F4D03F;"></td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">% of students selected</td>
                  <td class="cell100 column2">85%</td>
                  <td class="cell100 column3" style="background-color: darkorange;"></td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Students qualified GATE-2020</td>
                  <td class="cell100 column2">12</td>
                  <td class="cell100 column3" style="background-color: cornflowerblue;"></td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Students qualified CAT-2020</td>
                  <td class="cell100 column2">1</td>
                  <td class="cell100 column3" style="background-color: Chocolate;"></td>
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">Students qualified BARC</td>
                  <td class="cell100 column2">1</td>
                  <td class="cell100 column3"></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
        </div>
        <div id="placement-chart">
          <canvas id="mycanvas" width="300" height="300"></canvas>
        </div>
      </div> -->

      <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h3>Placement details for last 8 years</h3>
                            <h5 class="font-light m-t-0">VIT Pune</h5>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>

                            <th>Academic Year</th>
                            <th>No. of Companies Visited</th>
                            <th>Highest Pay Package Offered (in LPA)</th>
                            <th>Average Pay Package of Placed Student</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="txt-oflo">2013-14</td>
                            <td><span class="text-info">127</span></td>
                            <td><span class="text-success">37.14</span></td>
                            <td><span class="text-info">4.51</span></td>

                        </tr>
                        <tr>
                          <td class="text-center">2</td>
                          <td class="txt-oflo">2014-15</td>
                          <td><span class="text-info">152</span></td>
                          <td><span class="text-success">15.68</span></td>
                          <td><span class="text-info">4.28</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td class="txt-oflo">2015-16</td>
                            <td><span class="text-info">130</span></td>
                            <td><span class="text-success">33</span></td>
                            <td><span class="text-info">5.31</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>

                            <td class="txt-oflo">2016-17</td>
                            <td><span class="text-info">122</span></td>
                            <td><span class="text-success">27</span></td>
                            <td><span class="text-info">6.12</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>

                            <td class="txt-oflo">2017-18</td>
                            <td><span class="text-info">153</span></td>
                            <td><span class="text-success">37.40</span></td>
                            <td><span class="text-info">5.94</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">6</td>

                            <td class="txt-oflo">2018-19</td>
                            <td><span class="text-info">223</span></td>
                            <td><span class="text-success">27</span></td>
                            <td><span class="text-info">5.53</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">7</td>

                            <td class="txt-oflo">2019-20</td>
                            <td><span class="text-info">141</span></td>
                            <td><span class="text-success">26.4</span></td>
                            <td><span class="text-info">6.68</span></td>
                        </tr>
                        <tr>
                            <td class="text-center">8</td>

                            <td class="txt-oflo">2020-21</td>
                            <td><span class="text-info">259</span></td>
                            <td><span class="text-success">33.75</span></td>
                            <td><span class="text-info">6.34</span></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

      <div style="padding: 20px 50px; font-size: 22px; font-weight: 300;margin: 20px 0px; line-height: 40px;">
        <ul>
          <li>VIT Pune had a successful placement session during 2020-21.</li>
          <li>Students got offers from both on-campus and online/off-campus selection process.</li>
          <li>Some students even qualified for GATE, CAT and BARC and some have went to pursue higher studies.</li>
        </ul>
      </div>
      <!-- <a href="panalyze/index.html" style="display: inline-block;background-color: rgb(20, 45, 84) ;padding: 10px 45px; border-radius: 6px;
        color: white;
        font-size: 22px; font-weight: 300;">Placement Analysis&nbsp;&nbsp;<i class="fas fa-link"></i></a> -->
    <!-- </div> -->
<div class="container1">
  <div style="padding: 10px; font-size: 35px; font-weight: bold; text-align: center;">
    Our Recruiters
  </div>
<div id="slider" style="margin-bottom: 50px;">
  <figure>
    <img src="assets/img/amazon1.png">
    <img src="assets/img/min.png">
    <img src="assets/img/credit1.png" >
    <img src="assets/img/snow.png" >
    <img src="assets/img/siem1.png">
    <img src="assets/img/ubs1.png">
    <img src="assets/img/per.png">
    <img src="assets/img/wipro1.png">
    <img src="assets/img/db1.png">
    <img src="assets/img/acc1.png">



  </figure>
</div>
</div>
